mat-drawer-container {
  --mat-sidenav-scrim-color: #0000007F;
}

mat-drawer {
  --mat-sidenav-container-background-color: #0000007F;
  //--mat-sidenav-container-background-color: #383838;
  width: 300px;
}
