<div style="height: 100%; width: 100%;">
  <nid-open-layers-core #mapCore [initialPosition]="initialPosition">
    <ng-container nidOpenLayersWeatherLayer [ngxMapCore]="mapCore" [dataset]="weatherDataset"></ng-container>
  </nid-open-layers-core>
<!--  <nid-maplibre-core #mapLibreMapCore [initialPosition]="initialPosition" (mapLoad)="mapLoaded = true">-->
<!--    <ng-container nidMapLibreIsochroneLayer *ngIf="mapLoaded" [ngxMapCore]="mapLibreMapCore"-->
<!--                  [locations]="locationsForIsochrones" (locationsLoaded)="isochronesLoaded = true"></ng-container>-->
<!--    <sin-oxxo-coverage *ngIf="isochronesLoaded" [ngxMapCore]="mapLibreMapCore" [proximityByWalkingTimeInSeconds]="180"></sin-oxxo-coverage>-->
<!--  </nid-maplibre-core>-->
  <sin-map-side-panel (click)="test()"></sin-map-side-panel>
</div>

<!--TODO: IJ Issue https://youtrack.jetbrains.com/issue/WEB-61907 -->
