<div style="height: 100%; width: 100%;">
  <!--
  <nid-open-layers-core #mapCore [initialPosition]="initialPosition">
    <ng-container nidOpenLayersWeatherLayer [ngxMapCore]="mapCore" [dataset]="weatherDataset"></ng-container>
  </nid-open-layers-core>
    -->
  <nid-maplibre-core #mapLibreMapCore [initialPosition]="initialPosition" (mapLoad)="mapLoaded = true">
    <sin-oxxo-coverage *ngIf="mapLoaded" [ngxMapCore]="mapLibreMapCore"
                       [proximityByWalkingTimeInSeconds]="180"></sin-oxxo-coverage>
    <sin-bama-coverage *ngIf="mapLoaded" [ngxMapCore]="mapLibreMapCore"
                       [proximityByWalkingTimeInSeconds]="180"></sin-bama-coverage>
    <ng-container nidMapLibreWeatherLayer *ngIf="mapLoaded" [ngxMapCore]="mapLibreMapCore"
                  [dataset]="weatherDataset"></ng-container>
  </nid-maplibre-core>
  <sin-map-side-panel (click)="test()"></sin-map-side-panel>
</div>

<!--TODO: IJ Issue https://youtrack.jetbrains.com/issue/WEB-61907 -->
