<div *ngIf="isSidePanelOpen" class="absolute w-[300px] top-[50%] translate-y-[-50%] h-[99vh] ml-[7px] bg-blue-400">
  SI3N4 side panel
</div>
<div class="absolute top-[56px] ml-[.5em] flex content-center text-white" [ngClass]="isSidePanelOpen ? 'ml-[314px]' : 'ml-[7px]'" (click)="isSidePanelOpen = !isSidePanelOpen">
  <mat-icon *ngIf="isSidePanelOpen" fontIcon="chevron_left"></mat-icon>
  <img ngSrc="./assets/nidiro.webp" alt="nidiro" height="20" width="75">
  <mat-icon *ngIf="!isSidePanelOpen" fontIcon="chevron_right"></mat-icon>
</div>

